a{ color: blue; }
a:hover{ cursor: pointer; }

.popup{
	position: fixed;
	background: rgba(0,0,0,.75);
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.popup > *{
	position: fixed;
	top: 25vh;
	left: 25vw;
	width: 50%;
	height: 50%;
	background: #fff;
}
